body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px;
}


.sidebar {
    padding: 10px;
    border-radius: 10px;
    height: 100%;
}

.btn-outline-success {
    background-color: rgba(25, 135, 84, 0.1);
    color: #198754;
    border-color: #198754;

}

.btn-outline-success:hover {
    background-color: #198754;
    color: white;
}

.btn-outline-secondary {
    background-color: rgba(108, 117, 125, 0.1);
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
button {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}